api_platform:
    title: Hello API Platform
    version: 1.0.0
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
    # L'application est petite, on peut désactiver le eager loading globalement
    # pour éviter l'erreur "max_joins" sur les ressources très reliées (Quiz, QuizAttempt...).
    eager_loading:
        enabled: false
